.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px 0;

    &-not_found {
        width: 215px;
        margin: 16px auto 0;
    }

    &-title {
        &-auth {
            font-size: 34px;
            color: var(--main);
            text-align: center;
            margin: 0 0 32px;
            line-height: 1;
        }

        &-error {
            font-size: 140px;
            font-weight: 500;
            color: var(--primary);
            margin: 0;
            text-align: center;
            line-height: 1;
        }
    }

    &-subtitle {
        &-main {
            font-size: 34px;
            text-align: center;
            color: var(--main);
            margin: 30px 0 16px 0;
        }

        &-secondary {
            text-align: center;
            line-height: 1.4;
            color: var(--grey);
            margin-bottom: 40px;
            width: 345px;
        }
    }

    &-input_container {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        .error-text {
            font-size: 12px;
            color: var(--danger);
            padding: 4px 12px 0;
            width: 343px;
            line-height: 16px;
            display: none;

            &.visible {
                display: inline;
            }
        }
    }

    &-input {
        width: 343px;
        padding: 16px 12px;
        border-radius: 10px;
        border: none;
        background-color: var(--dark);
        font-size: 16px;

        &:focus-visible {
            outline: none;
            border: 1px solid var(--main);
            padding: 15px 12px;
        }
    }

    &-button {
        margin-top: 16px;
        font-weight: 500;
        font-size: 14px;
        color: var(--white);
        padding: 20px 0;
        border-radius: 10px;
        border: none;
        background-color: var(--primary);
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.0125em;

        &:disabled {
            background-color: var(--light-grey);
        }
    }

    &-link {
        text-decoration: none;
        text-align: center;
        margin-top: 36px;
        font-size: 14px;
        color: var(--primary);
        font-weight: 500;
    }
}
