.message {

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: var(--gloomy);
        width: 100%;

        &-content {
            display: flex;
            flex-direction: column;

            &-title {
                color: var(--main);
                user-select: none;
            }

            &-message {
                font-size: 14px;
                color: var(--grey);
                user-select: none;
            }

        }

        &-menu {
            cursor: pointer;
        }
    }

    &-field {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
        background-color: var(--gloomy);

        &-attach {
            margin-right: 18px;
            cursor: pointer;
        }

        &-input {
            border: none;
            background-color: var(--very_gloomy);
            font-size: 14px;
            color: var(--grey);
            width: 100%;

            &:focus-visible {
                outline: none;
            }
        }
    }
}
