.modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);

    &-edit_profile {
        width: 515px;
        height: 100vh;

        &-block {
            margin: 33px 0;
            width: 100%;
            background: var(--white);
            border-radius: 5px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 10px 0 rgba(0, 0, 0, 0.10), 0 4px 5px 0 rgba(0, 0, 0, 0.10);
            height: calc(100vh - 66px);

            &-head {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 32px 24px 24px 24px;

                &-content {
                    display: flex;
                    align-items: center;

                    &-icon {
                        margin-right: 16px;
                        cursor: pointer;
                    }

                    &-title {
                        color: var(--main);
                    }
                }

                &-icon {
                    cursor: pointer;
                }
            }

            &-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                &-image {
                    margin-bottom: 16px;
                }

                &-title {
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            &-data {
                display: flex;
                flex-direction: column;
                margin: 24px 84px;

                &-item_container {
                    padding-bottom: 8px;
                    padding-top: 12px;

                    &:nth-child(1) {
                        padding-top: 0;
                    }
                }

                &-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--light_grey);

                    &-title {
                        color: var(--main);
                    }

                    &-value {
                        color: var(--grey);
                        border: none;
                        font-size: 16px;
                        text-align: end;

                        &:focus-visible {
                            outline: none;
                        }

                        &:disabled {
                            color: var(--light_grey);
                            background-color: var(--white);
                        }
                    }

                }

                &-error {
                    font-size: 12px;
                    color: var(--danger);
                    padding-top: 4px;
                    line-height: 16px;
                    display: none;

                    &.-visible {
                        display: inline;
                    }
                }

                &-buttons {
                    display: flex;
                    flex-direction: column;
                    margin-top: 16px;

                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}
