<form class="form">
    <h1 class="title-error">500</h1>
    <h2 class="subtitle-main">У нас проблема</h2>
    <span class="subtitle-secondary">Мы знаем о проблеме и уже чиним сервис. Скоро все заработает.</span>
    <a class="auth-button notFound" href="/chats" target="">НАЗАД К ЧАТАМ</a>
</form>
