<form class="form">
    <h1 class="title-error">404</h1>
    <h2 class="subtitle-main">Такой страницы нет</h2>
    <span class="subtitle-secondary">Возможно она была удалена или перенесена на другой адрес.</span>
    <a class="auth-button notFound" href="/chats" target="">НАЗАД К ЧАТАМ</a>
</form>
