<form class="form" action="/chats">
    <h1 class="form-title-error">
        {{title}}
    </h1>
    <h2 class="form-subtitle-main">
        {{subtitle_main}}
    </h2>
    <span class="form-subtitle-secondary">
        {{subtitle_secondary}}
    </span>
    <input class="form-button form-not_found" type="submit" value="НАЗАД К ЧАТАМ">
</form>
