<form class="form">
    <h1 class="title-auth">Регистрация</h1>
    <input class="chats-input" value="ivan@example.com" placeholder="E-mail" type="email">
    <input class="chats-input" value="ivanivanov" placeholder="Логин" type="text">
    <input class="chats-input" value="Иван" placeholder="Имя" type="text">
    <input class="chats-input" value="Иванов" placeholder="Фамилия" type="text">
    <input class="chats-input" value="Вано" placeholder="Отображаемое имя" type="text">
    <input class="chats-input" value="+79099673030" placeholder="Телефон" type="text">
    <input class="chats-input" value="1234567890" placeholder="Пароль" type="password">
    <input class="chats-input" value="1234567890" placeholder="Повторите пароль" type="password">
    <a class="auth-button" href="/" target="">ЗАРЕГИСТРИРОВАТЬСЯ</a> <a class="auth-link" href="/" target="">ВОЙТИ</a>
</form>
