@import url("styles/default.css");
@import url("styles/form.css");
@import url("styles/chats.css");
@import url("styles/message.css");
@import url("styles/users.css");
@import url("styles/modal.css");

@font-face {
    font-family: Roboto-Regular;
    src: url("src/fonts/Roboto-Regular.ttf");
}

html {
    font-family: Roboto-Regular, sans-serif;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: #f9f9fd;

    &-thumb {
        background-color: #c4c4c480;
    }
}

:root {
    --very-gloomy: #c5cae900;
    --main: #212121;
    --gloomy: #c5cae933;
    --dark: #bdbdbd4d;
    --grey: #757575;
    --light-grey: #c4c4c480;
    --danger: #b00020;
    --primary: #3f51b5;
    --turquoise: #00bcd480;
    --azure: #00bcd4;
    --white: #fff;
}

p {
    margin: 0;
}
