@import url('styles/default.css');
@import url('styles/form.css');
@import url('styles/chats.css');
@import url('styles/message.css');
@import url('styles/users.css');
@import url('styles/modal.css');

@font-face {
    font-family: Roboto-Regular;
    src: url(src/fonts/Roboto-Regular.ttf);
}

html {
    font-family: 'Roboto-Regular', sans-serif;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: #f9f9fd;

    &-thumb {
        background-color: rgba(196, 196, 196, 0.5);
    }
}

:root {
    --very_gloomy: rgba(197, 202, 233, 0);
    --main: #212121;
    --gloomy: rgba(197, 202, 233, 0.2);
    --dark: rgba(189, 189, 189, 0.3);
    --grey: #757575;
    --light_grey: rgba(196, 196, 196, 0.5);
    --danger: #B00020;
    --primary: #3F51B5;
    --turquoise: rgba(0, 188, 212, 0.4);
    --azure: #00BCD4;
    --white: #FFF;
}

p {
    margin: 0;
}
