@import 'styles/default.css';
@import 'styles/form.css';
@import 'styles/chats.css';
@import 'styles/message.css';
@import 'styles/users.css';

@font-face {
    font-family: Roboto-Regular;
    src: url(src/fonts/Roboto-Regular.ttf);
}

html {
    font-family: 'Roboto-Regular', sans-serif;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: #f9f9fd;

    &-thumb {
        background-color: rgba(196, 196, 196, 0.5);
    }
}
